@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: theme('fontFamily.sans');
    color: theme('colors.foreground');
    background-color: theme('colors.background');
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  a {
    @apply text-foreground;
  }
}
